{{#section "styles"}}
  <link rel="stylesheet" href="css/cadastro.css" />
{{/section}}

<h1>Pagina Administrativa</h1>

<br /><br />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Lanche</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{id}}</td>
            <td>{{lanche}}</td>
            <td>{{descricao}}</td>
            <td>{{preco}}</td>
            <td><a method="get" href="/produto/editar/{{id}}"><input type="button" value="editar"></a><a method="get" href="/produto/excluir/{{id}}"><input type="button" value="Excluir"></a></td>
        </tr>
    {{/each}}
</table>

<a href="/cadastro"><input id="acao" type="button" name="cadastrar" value="cadastrar" /></a>