{{#section 'styles'}}
<link rel="stylesheet" href="css/usuarios.css">
{{/section}}


<div class="table">
    <h3>Cadastros de Usuários</h3>
    <table id="table">
    <thead>
        <tr>
            <td class="id">ID</td>
            <td class="nome">Nome</td>
            <td class="email">Email</td>
            <td class="senha">Senha</td>
            <td class="edit"></td>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{senha}}</td>
            <td><a method="get" href="/usuarios/editar/{{id}}"><input type="button" value="editar"></a><a method="get" href="/usuarios/excluir/{{id}}"><input type="button" value="Excluir"></a></td>
        </tr>
    {{/each}}
</table>
<a method="get" href="/acoesAdm"><input class="button" id="voltar" type="button" value="Voltar"></a>
</div>


