{{#section 'styles'}}
<link rel="stylesheet" href="css/contato.css">
{{/section}}

<h3>Tabela - Pessoas</h3>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Senha</td>
            <td></td>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{senha}}</td>
            <td><a method="get" href="/produto/editar/{{id}}"><input type="button" value="editar"></a><a method="get" href="/produto/excluir/{{id}}"><input type="button" value="Excluir"></a></td>
        </tr>
    {{/each}}
</table>

<a method="get" href="/acoesAdm"><input type="button" value="Voltar"></a>